@{
    ViewData["Title"] = "Home Page";
}

<h1>Projeto Sistema Web com ASP.NET Core MVC e Entity Framework</h1>

<h3>Objetivo</h3>
Projeto final realizado pelo professor “Nelio Alves” do curso “C# completo – programação orientada a objetos + projetos”, como oportunidade de finalizar e praticar os conceitos passados em todo o curso.  Assuntos alcançados no projeto:
<br>
<br>•	ASP.NET Core MVC
<br>
•	Entity Framework
<br>
•	LINQ
<br>
•	Lambda
<br>
•	Razor
<br>
•	SGBD MySQL
<br>
•	Banco de Dados Relacional e linguagem SQL
<br>
•	Design Patterns
<br>
•	Conhecimentos em Front e Back end
<br>
•	User Experience
<br>
•	Conexão com banco de dados, CRUD e arquitetura Web
<br>

<h3>Ferramentas e tecnologias utilizadas</h3>
•	Microsoft Visual Studio 2019
<br>
•	.NET Core 2.1
<br>
•	ASP.NET Core MVC
<br>
•	Entity Framework
<br>
•	MySQL workbench community 8.0.21 winx64
<br>
